@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('../font/RobotoCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../font/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Italic.woff2') format('woff2'),
        url('../font/RobotoCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Light.woff2') format('woff2'),
        url('../font/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../font/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../font/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abril fatface';
    src: url('../font/Abrilfatface-Regular.woff2') format('woff2'),
        url('../font/Abrilfatface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

