<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content align-items">
                <div class="logo">
                    <img src="https://caramelly.in/cdn/shop/files/caramelly-logo-new_200x.png?v=1649194947" alt="">
                </div>
                <nav>
                    <ul class="row ">
                        <li>
                            <a href="/index.html" style="font-weight: 700;font-size: 15px;">home</a>
                        </li>
                        <li><a href="/Page/product.html" style="font-weight: 700;font-size: 15px;">product</a></li>
                        <li>
                            <a href="#" style="font-weight: 700 ;font-size: 15px;">Category
                            </a>
                            <div class="megamenu">
                                <div class="row">
                                    <div class="w-50">
                                        <div class="w-100">
                                            <div class="nav-img">
                                                <img src="https://caramelly.in/cdn/shop/files/essenza-mini-nespresso-caramelly-web-menu-banner_600x600.jpg?v=1680637576"
                                                    alt="">
                                            </div>
                                            <div class="inner-login text-apple f-18">
                                                <img src="https://cdn.shopify.com/s/files/1/0480/5378/0638/files/login-logout.png?v=1680177799"
                                                    alt="">
                                                <a href="/Page/login.html">Login</a>
                                                <span>•</span>
                                                <a href="/Page/singup.html">Sign Up</a>
                                            </div>
                                        </div>
                                        <div class="shop_inner_menu text-apple f-18">
                                            <ul class="shop_menu">
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Subscribe & Save
                                                        <span class="menu_split_label"> NEW</span>
    
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Caracycle - Pods Recycling
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Frequently Asked
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Blog
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Order Tracking
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Contact Us
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Machine Repair/Servicing
                                                    </a>
                                                </li>
                                                <li class="slide-nav__item">
                                                    <a class="slide-nav__link" href="">
    
                                                        Register Warranty
                                                    </a>
                                                </li>
    
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="w-50">
                                        <div class="w-100">
                                            <ul class="shop_menu text-apple f-18">
                                                <li class="slide-nav__item" data-handle="nespresso-coffee-capsules">
                                                    <a class="shop_block" href="#"
                                                        data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/14_2fc6b640-e942-46be-aa21-b57f93071f61_60x60.jpg?v=1680294732">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading" onclick="category(NespressoCoffeeCapsules)"> Nespresso Coffee Capsules</p>
    
    
                                                            <p class="shop_block_sub">Discover 60+ Coffee Blends</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="nespresso-machines">
                                                    <a class="shop_block" href="/collections/nespresso-machines"
                                                        data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_9_60x60.png?v=1680635773">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Nespresso Machines</p>
    
    
                                                            <p class="shop_block_sub">The new standard in coffee
                                                                brewing.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="bean-to-cup-coffee-machines">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_16_60x60.jpg?v=1680297062">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Bean to Cup Machines &amp;
                                                                Grinders</p>
    
    
                                                            <p class="shop_block_sub">Jura | Sage &amp; Breville |
                                                                Melitta | Gaggia</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="coffee-syrups">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_29_60x60.png?v=1686715101">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> French Coffee Syrups<span
                                                                    class="menu_split_label">NEW</span></p>
    
    
                                                            <p class="shop_block_sub">Make Coffee Memorable.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="milk-frothers">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_6_60x60.jpg?v=1680292131">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Milk Frothers</p>
    
    
                                                            <p class="shop_block_sub">A single whisk fulfils all your
                                                                wishes.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="oat-almond-coconut-milk">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_18_60x60.png?v=1685122920">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Oat &amp; Almond Milk<span
                                                                    class="menu_split_label">NEW</span></p>
    
    
                                                            <p class="shop_block_sub">Made for coffee — created with
                                                                baristas.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="nescafe-dolce-gusto">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_26_60x60.png?v=1686077614">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Nescafe Dolce Gusto Pods<span
                                                                    class="menu_split_label">NEW</span></p>
    
    
                                                            <p class="shop_block_sub">All your coffeehouse favorites are
                                                                here.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="coffee">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/16_3916b985-86ec-4c08-a5a7-531e5a94f086_60x60.jpg?v=1680294855">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Instant, Beans &amp; Ground
                                                                Coffee</p>
    
    
                                                            <p class="shop_block_sub">Discover gourmet coffee.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="coffee-accessories">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_8_60x60.jpg?v=1680293534">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Accessories</p>
    
    
                                                            <p class="shop_block_sub">Pod holders, cups, mugs &amp;
                                                                more.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="manual-brewers">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/5_ca5716bb-68b8-4d59-8737-92b90c423d01_60x60.jpg?v=1680292529">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Moka Pot &amp; French Press
                                                            </p>
    
    
                                                            <p class="shop_block_sub">The true soul of Italian coffee.
                                                            </p>
    
                                                        </div>
                                                    </a>
                                                </li>
    
    
                                                <li class="slide-nav__item" data-handle="lavazza-blue-coffee-capsules">
                                                    <a class="shop_block" href="" data-bss-pl="active">
    
                                                        <div class="shop_block_image"><img
                                                                src="//caramelly.in/cdn/shop/files/Untitled_design_7_60x60.jpg?v=1680292922">
                                                        </div>
    
                                                        <div class="shop_block_text">
    
                                                            <p class="shop_block_heading"> Lavazza Blue machines &amp;
                                                                pods</p>
    
    
                                                            <p class="shop_block_sub">The perfect solution for your
                                                                business.</p>
    
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                    <div class="carticon">
                        <button class="">
                            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="cart-s"></div>
                        </button>
                    </div>
                </div>
            </div>
            <aside id="user-profile">
                <a href=""><i class="fa-solid fa-xmark" id="close"></i></a>
                <div class="profile" id="profilee">
                </div>
                <a href="Page/sign.html" id="logout">logout</a>
                <a href="/Page/addproduct.html" id="addproduct">Add Product</a>
            </aside>
        </div>
    </header>
</body>
</html>